@use "~/styles/variables" as *;
.xSmall {
  margin-bottom: $spacing-x-small;
}

.small {
  margin-bottom: $spacing-small;
}

.medium {
  margin-bottom: $spacing;
}

.large {
  margin-bottom: $spacing-large;
}

.xLarge {
  margin-bottom: $spacing-x-large;
}
