.container {
  height: 100%;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_container {
  margin-top: 16px;
}

.check_in_container {
  width: 100%;
}
